.cp-path-polygon {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100px 100%);
}

.cp-btn-polygon {
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
}

@media screen and (min-width: 1024px) {
  .cp-path-polygon {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 280px 100%);
  }
  .cp-partner-intro-polygon {
    clip-path: polygon(0 0, 100% 0, calc(100% - 50px) 100%, 0 100%);
  }

  .cp-partner-logo-polygon{
    clip-path: polygon(50px 0, 100% 0, calc(100% - 50px) 100%, 0 100%);
  }
}
